.col-sm-12
  %h1= react_component("HelloWorld")
  %p Find me in app/views/home/index.html.erb
  %br
  = link_to "Next", page2_path, class: "btn-lg, btn-info btn"

  .panel.panel-default
    .panel-heading
      Informações adicionais
    .list-group
      .list-group-item react-rails gem
      .list-group-item ES2015
      .list-group-item rails g react:component
